<!DOCTYPE html>
<html lang="en" ng-app="mosquitoApp">
  <head>
    <%- include('header'); %>
    <title>MosquitoDB | Home</title>
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <%- include('navbar'); %>
  <body ng-app="mosquitoApp" ng-controller="homeController">
    <div class="container">
      <h1 class="text-center"><i class="fa fa-hourglass-half" aria-hidden="true"></i> {{greeting}} <i class="fa fa-hourglass-half" aria-hidden="true"></i></h1>
    </div>
  </body>
  <%- include('footer'); %>
</html>
