<!DOCTYPE html>
<html lang="en" ng-app="mosquitoApp">
  <head>
    <%- include('header'); %>
    <title>MosquitoDB | Home</title>
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <%- include('navbar'); %>
  <body ng-app="mosquitoApp" ng-controller="homeController" ng-cloak ng-keypress="handleEnter($event)">
    <div id="search-options" class="container">
      <h1 class="text-center">Query Mosquito Data</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-2 col-sm-offset-1">
          <label for="state">State</label>
          <select ng-model="state" ng-options="item.code as item.name for item in states" id="state" class="selectpicker home-select" multiple required>
          </select>
        </div>
        <div class="col-xs-6 col-sm-2">
          <label for="county">County</label>
          <select ng-model="county" ng-options="item.id as item.name for item in counties" id="county" class="selectpicker home-select" multiple required>
          </select>
        </div>
        <div class="col-xs-6 col-sm-2">
          <label for="species">Species</label>
          <select ng-model="spec" ng-options="item.id as item.name for item in species" id="species" class="selectpicker home-select" multiple required>
          </select>
        </div>
        <div class="col-xs-3 col-sm-1">
          <label for="start-year">Start Year</label>
          <input class="form-control" id="start-year" ng-model="startYear" type="number" min="1900" max="2016" required/>
        </div>
        <div class="col-xs-3 col-sm-1">
          <label for="end-year">End Year</label>
          <input class="form-control" id="end-year" ng-model="endYear" type="number" min="1901" max="2017" required/>
        </div>
        <div class="col-xs-3 col-xs-offset-9 col-sm-1 col-sm-offset-1">
          <label for="search-btn">Search</label>
          <button id="search-btn" class="btn btn-success" ng-click="search();"><i class="fa fa-search" aria-hidden="true"></i> </button>
        </div>
      </div>
    </div>
    <div id="detailsModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title">Collection Details</h4>
          </div>
          <div class="">
            <div class="col-sm-6">
              <p><b>Year:</b> {{selectedCollection.year}}</p>
              <p><b>Month:</b> {{selectedCollection.month || 'Not Given'}}</p>
              <p><b>Week:</b> {{selectedCollection.week || 'Not Given'}}</p>
              <p><b>State:</b> {{selectedCollection.state}}</p>
              <p><b>County:</b> {{selectedCollection.county || 'Not Given'}}</p>
            </div>
            <div class="col-sm-6">
              <p><b>Trap Type:</b> {{selectedCollection.trap || 'Not Given'}}</p>
              <p><b>Species:</b> {{selectedCollection.species}}</p>
              <p><b>Pools:</b> {{selectedCollection.pools}}</p>
              <p><b>Individuals:</b> {{selectedCollection.individuals || 'Not Given'}}</p>
              <p><b>WNV Results:</b> {{selectedCollection.wnv_results || 'Not Given'}}</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="search-results" class="container" ng-show="results">
      <h3 class="text-center">Results</h3>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <table class="table table-striped table-hover">
            <thead>
              <th>Year</th>
              <th>State</th>
              <th>County</th>
              <th class="hidden-xs">Trap Type</th>
              <th>Species</th>
              <th>Pools</th>
              <th class="hidden-xs">WNV Results</th>
            </thead>
            <tbody>
              <tr ng-repeat="r in results" ng-click="loadDetails(r.id);">
                <td>{{ r.year }}</td>
                <td>{{ r.state }}</td>
                <td>{{ r.county }}</td>
                <td class="hidden-xs">{{ r.trap }}</td>
                <td>{{ r.species }}</td>
                <td>{{ r.pools }}</td>
                <td class="hidden-xs">{{ r.wnv_results }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <%- include('footer'); %>
</html>
