<!DOCTYPE html>
<html lang="en" ng-app="mosquitoApp">
  <head>
    <%- include('header'); %>
    <title>MosquitoDB | Home</title>
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <%- include('navbar'); %>
  <body ng-controller="homeController" class="container">
    <h1>{{greeting}} <i class="fa fa-smile-o" aria-hidden="true"></i></h1>
  </body>
  <%- include('footer'); %>
</html>
