<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); %>
    <title>MosquitoDB | Lost</title>
  </head>
  <body class="container">
    <div class="row">
      <h2>Uh oh... looks like you're a bit lost <i class="fa fa-road" aria-hidden="true"></i></h2>
      <h4><a href="/">Click here to return home <i class="fa fa-home" aria-hidden="true"></i></a></h4>
    </div>
  </body>
  <%- include('footer'); %>
</html>
