<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MosquitoDB</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i> Search Data</a></li>
        <li><a href="/submit"><i class="fa fa-file-text-o" aria-hidden="true"></i> Submit Data</a></li>
      </ul>
    </div>
  </div>
</nav>
