<nav ng-app="mosquitoApp" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand pull-left" href="{{server}}/">MosquitoDB</a>
      <div class="inline-nav hidden-xs">
        <div class="nav navbar-nav">
          <li><a href="{{server}}/"><i class="fa fa-search" aria-hidden="true"></i> Search Data</a></li>
          <li><a href="{{server}}/submit"><i class="fa fa-file-text-o" aria-hidden="true"></i> Submit Data</a></li>
        </div>
      </div>
      <% if (user) { %>
        <a class="navbar-brand pull-right logout-text" href="" ng-click="logout();">Log Out</a>
        <a class="navbar-brand pull-right" href=""><%= user %></a>
      <% } else { %>
        <a class="navbar-brand pull-right" ng-href="{{server}}/account" >Sign In</a>
      <% } %>
    </div>
  </div>
</nav>
