<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand pull-left" href="/">MosquitoDB</a>
      <div class="inline-nav hidden-xs">
        <div class="nav navbar-nav">
          <li><a href="/"><i class="fa fa-search" aria-hidden="true"></i> Search Data</a></li>
          <li><a href="/submit"><i class="fa fa-file-text-o" aria-hidden="true"></i> Submit Data</a></li>
        </div>
      </div>
      <% if (user) { %>
        <a class="navbar-brand pull-right" href="#" onclick="console.log('should pop up options modal')"><%= user %></a>
      <% } else { %>
        <a class="navbar-brand pull-right" href="#" onclick="console.log('should pop up log in modal')">Sign In</a>
      <% } %>
    </div>
  </div>
</nav>
