<!DOCTYPE html>
<html lang="en" ng-app="mosquitoApp">
  <head>
    <%- include('header'); %>
    <title>MosquitoDB | Register</title>
    <script type="text/javascript" src="javascripts/register.js"></script>
  </head>
  <%- include('navbar'); %>
  <body ng-app="mosquitoApp" ng-controller="registerController" ng-cloak>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <label for="name">Username</label>
          <input class="form-control" ng-model="name" max-length="63" type="text" placeholder="SuperResearcher" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <label for="organization">Organization</label>
          <input class="form-control" ng-model="organization" max-length="255" type="text" placeholder="ASU" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <label for="email">Email</label>
          <input class="form-control" ng-model="email" max-length="255" type="email" placeholder="email@domain.com" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <label for="pass1">Password</label>
          <input class="form-control" ng-model="pass1" max-length="63" type="password" placeholder="something secure" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <label for="pass2">Retype Password</label>
          <input class="form-control" ng-model="pass2" max-length="63" type="password" placeholder="verified password" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-success pull-right" ng-click="register();">Register</button>
        </div>
      </div>
    </div>
  </body>
  <%- include('footer'); %>
</html>
